<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI CAlCULATOR</title>
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Bmi Calculator</h1>
    </header>
    <section id="assignment">
      <!-- Want to show the form if showResults is false -->
      <div v-if="!showResults">
        <form>
          <label>Height (Inches)</label><br>
          <input v-model="height" type="text"><br>
          <p>{{errorOutput(height)}}</p>
          <label>Weight (Pounds)</label><br>
          <input v-model="weight" type="text"><br>
          <p>{{errorOutput(weight)}}</p>
          <label>Age</label><br>
          <input v-model="age" type="text"><br>
          <p>{{errorOutput(age)}}</p>
        </form>
        <p>{{formErrorMessage}}</p>
        <button @click="calculateBmi">Calculate my BMI</button>
      </div>
      <!-- Want to show the results if showResults is true  -->
      <div v-if="showResults" id = "assignment-div">
        <h2>Results</h2>
        <h3>Your BMI: {{userBmi}}</h3>
        <table>
            <tr v-for ="(cat, index) in categories">
              <!-- modify background color -->
                <td :style="{ backgroundColor: cat === userBmiCategory? categoryColors[index]:'none'}">{{cat}}</td>
            </tr>
        </table>
        <button @click="goBack">Recalculate BMI</button>
      </div>
    </section>
  </body>
</html>
