<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Tic Tac Toe</h1>
    </header>
    <section id="assignment">
        <div id = "assignment-div">
          <!-- Starting prompt -->
          <div v-if = "!gamePlaying">
            <h1>Choose your player: {{userChar}}</h1>
            <button class = "choice-button" @click="userChar = 'X'">X</button>
            <button class = "choice-button" @click="userChar = 'O'">O</button>
          </div>
          <table v-if="gamePlaying">
              <tr v-for ="(row, rowIndex) in playingGrid">
                  <td v-for="(column, colIndex)  in row" @click="playUserTurn(rowIndex, colIndex)">{{column}}</td>
              </tr>
          </table>
          <!-- This needs to account for a tie.... -->
          <h1 v-if="gameOver">Game over. {{endingMessage()}}</h1>
          <button v-if="!gamePlaying || gameOver" @click="resetGame">Play {{!gamePlaying? 'Game':'Again'}}</button>
        </div>
    </section>
  </body>
</html>
